@model IEnumerable<NIR.Models.Book>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бестселлеры - Книжный магазин</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="bestsellers">
            <div class="container">
                <h2>Бестселлеры</h2>

                <div class="book-grid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Author)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rating)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                IEnumerable<NIR.Models.Book> sortedBooksDescending = Model.OrderByDescending(book => book.Rating).ToList();
                                @foreach (var item in sortedBooksDescending)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rating)
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>
